Edit
<%= care.name %>
    <form action="/cares/<%= care._id %>/?_method=PUT" method="POST">
        <label>Name</label>
        <input type="text" name="name" id="name" value="New Username">
        <!-- <label>Image</label> 
    <input type="text" name="blog[image]" 
            value="<%#= blog.image%>"> 
    <label>Blog Content</label> 
      
    <textarea name="blog[body]"> 
        <%#= blog.body%> 
    </textarea>  -->
        <input type="submit">
    </form>