<h1>Edit Album</h1>
<form action="/cares/<%= care._id %>?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= care.name %> " /> <br />

    <input type="submit" value="Edit Album" />
</form>