<h1>Edit</h1>
<h2>
    <%= care.name %>
</h2>
<img src="<%= care.image %>">
<br>
<br>
<br>
<br>
<br>
<form action="/cares/<%= care._id %>/?_method=PUT" method="POST">
    <label>Edit Category Name</label>
    <input type="text" name="name" id="name" value="New Username">
    <label>Edit Category Picture</label>
    <input type="text" name="image" id="image" value="New Image URL">

    <input type="submit">
</form>