<div id="title-container">

    <h1 id="title">All Categories</h1>
</div>

<ul>
    <% cares.forEach(care => { %>
        <li>
            <a class="indexLinks" href="/cares/<%= care.id %>">
                Go To <%= care.name %>
            </a> <a class="indexLinks" href="/cares/<%= care._id %>/edit">edit <%=care.name%></a>

        </li>
        <% }) %>
</ul>