<div id="title-container">

    <h1 id="title">All Categories</h1>
</div>

<ul>
    <% cares.forEach(care => { %>
        <li>
            <a href="/cares/<%= care.id %>">
                <%= care.name %>

                    <a href="/cares/<%= care._id %>/edit">edit</a>
            </a>
        </li>
        <% }) %>
</ul>