<h1>Create a New User</h1>

<form action="/cares" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
        <label for="image">Profile Picture URL</label>
        <input type="text" class="form-control" id="image" name="image">
    </div>

    <h2>Select Tips for User</h2>
    <% tips.forEach(tip => { %>

        <input type="checkbox" id="<%= tip.name %>" name="tips" value="<%= tip.id %>" />
        <label for="<%= tip.name %>"><%= tip.name %></label><br />
        <% })%>
            <button type="submit" class="btn btn-primary">Submit</button>
</form>