<h1>All Users</h1>

<ul>
    <% posters.forEach(poster=> { %>
        <li>
            <a href="/posters/<%= poster.id %>">
                <%= poster.name %>
            </a>
        </li>
        <% }) %>
</ul>